@font-face {
  font-family: 'quadrangleregular';
  src: url('quadrangle-webfont.woff2') format('woff2'),
       url('quadrangle-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'prototyperegular';
  src: url('prototype.woff2') format('woff2'),
       url('prototype.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button.button-play{
    width:7.375em;
    height: 8em;
    margin:0.625em;
    padding:1em;
    border-radius:1.625em;
    text-align: center;
    display:inline-grid;
    font-size: 10px;
    outline: none;
    }

     body, html{
    background: #222222;
    font-family: 'quadrangleregular', sans-serif;
    color: #fff;
	  background: linear-gradient(-45deg, rgb(29, 29, 28), rgb(56, 56, 56), rgb(71, 71, 71), rgb(49, 51, 51));
	  background-size: 400% 400%;
	  -webkit-animation: Gradient 25s ease infinite;
	 -moz-animation: Gradient 25s ease infinite;
	 animation: Gradient 25s ease infinite;
  } 

  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
 
  .p-t {
      padding-top: 25px;
  }

  .text-lyric{
    color:#00FF7F;
    font-family: 'prototyperegular', sans-serif;
    width: 300px;
    margin-left: 41%
  }

  .extended-btn{
    width: 263px!important;
    padding-top:25px!important;
  }

  .grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left: 40%;
  }
 
  .wrapper {
    padding: 0.7%;
  }
  .button-play {
      color: #818181;
      background-image: linear-gradient(to top, #383838 0%, #1f1f1f 5%, #161616 100%);
      background-image: -webkit-gradient( linear, left top, left bottom, from(#1f1f1f), to(#161616) );
      box-shadow: 0 0 1px 1px rgb(10, 10, 10);
      cursor: pointer;
      position: relative;
      font: normal 20px arial;
      text-transform: uppercase;
      transition: color 0.3s ease;
      font-family: 'quadrangleregular', sans-serif;
      color:#fff;
  }
  .button-play:hover, .btn-animation:hover {
    color: #9e9e9e;
  }
  .button-play:active, .btn-animation:active  {
    box-shadow: 0 0 1px 1px rgb(10, 10, 10), inset 0 2px 2px 0px black;
  }
  .button-play::before, .btn-animation::before {
    position: absolute;
    content: "";
    right: 15px;
    top: 10px;
    width: 12px;
    height: 12px;
    background: #646464;
    background-image: radial-gradient(to top, #616161 0%, #616161 20%, #535353 60%);
    border-radius: 50%;
    box-shadow: 0 0 4px #1c1c17;
    transition: all 0.3s ease;
  }
  .button-play:hover::before, .btn-animation::before {
    background: #ff4f4f;
    box-shadow: 0 0 4px #1c1c17, 0 0 5px #ff4242;
  }
  .button-play:active::before, .btn-animation::before {
    box-shadow: 0 0 4px #1c1c17, inset 0 2px 2px 0px #cc0000;
  }

  .header {
    background-color: #1c1c17;
    padding: 20px 10px;
    color:white;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1c17;
    color: white;
    text-align: center;
    height: 5%;
 }

 .footer-text {
  margin-top: 10px;
}
  
  @media only screen and (max-width: 600px) {
    .grid-container {
     margin-left: 5%;
    }
  }

  @media only screen and (min-width: 100px) {
    .extended-btn {
     margin-left: 7%!important;
    }
  }

  @media only screen and (min-width: 601px) {
    .extended-btn {
     margin-left: 41%!important;
    }
  }

  @media only screen and (max-width: 600px) {
    .text-lyric {
     margin-left: 7%!important;
     font-size: 16px;
    }
  }


