@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button.button-play{
    width:50px;
    height: 80px;
    margin:10px;
    padding:10px;
    border-radius:10px;
    text-align: center;
    display:inline-grid;
    font-size: 10px;
    outline: none;
    }

     body, html{
    height: 100%;
    background: #222222;
      font-family: 'Lato', sans-serif;
  } 
  
  h2 {
      color: #AAAAAA;
  }

  .p-t {
      padding-top: 25px;
  }
 
  .wrapper {
    width: 500px;
    height: 80px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 0.7%;
  }
  .button-play {
      color: #818181;
      background-image: linear-gradient(top, #383838 0%, #1f1f1f 5%, #161616 100%);
      background-image: -webkit-gradient( linear, left top, left bottom, from(#1f1f1f), to(#161616) );
      box-shadow: 0 0 1px 1px rgb(10, 10, 10);
      cursor: pointer;
      position: relative;
      font: normal 20px arial;
      text-transform: uppercase;
      transition: color 0.3s ease;
      font-family: 'Lato', sans-serif;
  }
  .button-play:hover, .btn-animation {
    color: #9e9e9e;
  }
  .button-play:active, .btn-animation  {
    box-shadow: 0 0 1px 1px rgb(10, 10, 10), inset 0 2px 2px 0px black;
  }
  .button-play::before, .btn-animation::before {
    position: absolute;
    content: "";
    right: 15px;
    top: 10px;
    width: 12px;
    height: 12px;
    background: #646464;
    background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
    border-radius: 50%;
    box-shadow: 0 0 4px #1c1c17;
    transition: all 0.3s ease;
  }
  .button-play:hover::before, .btn-animation:hover::before {
    background: #ff4f4f;
    box-shadow: 0 0 4px #1c1c17, 0 0 5px #ff4242;
  }
  .button-play:active::before, .btn-animation:active::before {
    box-shadow: 0 0 4px #1c1c17, inset 0 2px 2px 0px #cc0000;
  }
 